{
  "adminEmail": "your@email.com",
  "baseName": "nova-act-qa-studio",
  "apiEndpoint": "/api",
  "apiDeploymentStage": "api",
  "enabledRegions": [
    "us-east-1",
    "us-west-2"
  ],
  "defaultRegion": "us-east-1",
  "userAgentString": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
  "vpcId": null,
  "workerSecurityGroupId": null,
  "createVpcEndpoints": false
}