{
  "adminEmail": "your-email@example.com",
  "baseName": "nova-act-qa-studio",
  "apiEndpoint": "api",
  "apiDeploymentStage": "api",
  "enabledRegions": [
    "us-east-1",
    "us-west-2",
    "ap-southeast-2",
    "eu-central-1"
  ],
  "defaultRegion": "us-east-1",
  "useNovaActGa": true,
  "vpcId": null,
  "workerSecurityGroupId": null,
  "createVpcEndpoints": false,
  "AgentCoreVPC": false
}